body{
    font: Arial, Helvetica, sans-serif;
}


#container{
    width: 1050px;
    /*get rid of line surrounding container */
    /*border: 1px solid grey;*/
    /* height: 100px; */
    margin: 0 auto;
    
    
    
}
#header{
    height: 100px;
    padding: 10px 0px;
}

/*brand  */
#brand{
    float: left; /*making all elements float causes the container to be distorted. To solve this, create a #header element */
}

/* Access link to h1       */
h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none; /*remove the underline*/
    
}

/* Make searchbox to float on right of container */
#searchbox{
    float: right; /*leaving it this way makes the searchbox appear below the container. This is because the brand is not set to float, make brand element float to the left.   */
    background: linear-gradient(#E4F2B9, #B7E953);
    /*Let's make sure they work in order browsers: safari, opera, firefox.  */
    background: -webkit-linear-gradient(#E4F2B9, #B7E953);
    background: -o-linear-gradient(#E4F2B9, #B7E953);
    background: -moz-linear-gradient(#E4F2B9, #B7E953);
    
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    /*Place search image logo inside text element */
    background: white url(Images/search_logo.png) right center no-repeat;
    border: 1px solid #C8D03E;
}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;    /*background-color can't be used for a button, just background */
    font-size: 15px;
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    padding: 7px 0;
}

ul{
    list-style: none; /*remove bullets */
}
/* Lets access the list items from the menu */
#menu ul li{
    float: left;  /*all our elements will now be floating left and in line (horizontal) */
    padding: 0 30px; /*separate each menu element */
    
    /* Add vertical bars to separate menu items */
    height: 30px;
    border-right: 1px solid #5d12e7;
    
    
    
}
/*Remove the last vertical bar after Contact us */
#menu ul li:last-child{
    border-right: none;
}

/* Access the link items (<a>) */
#menu ul li a{
    text-decoration: none; /*remove underline */
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    
    /*Let's add transition effects to our menu link items. linear (speed of transition is same from begining to end) or ease could be used. ease means the speed starts slow then faster then slow. */
    transition: font-size 0.5s ease;
    
    /*Add this property for other browsers: safari, firefox, opera and IE in that order */
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
}

/*Now, we are going to make the menu items get bigger and bolder when the mouse is passed over them, using hover */

/*Let's also make our first link item active, that is, bold and stagnant. We add class="active" to index.html and also add a.active. */

#menu ul li a:hover, #menu ul li a.active{
   font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}

#introduction{
    background: linear-gradient(#E5F2BB, #B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    background: -o-linear-gradient(#E5F2BB, #B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: #628F19;
    text-align: justify;
}

.sidebar{
    height: 500px;
    width: 450px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px 50px 0;
    margin-bottom: 25px;
}
.sidebar h3{
    color: #B314DB;
    font-size: 30px;
}

.sidebar ul{
    padding-top: 8px;
}


#leftsidebar ul li{
    padding: 4px 0 4px 10px;
    list-style: url(Images/arrow.png);
}

#rightsidebar ul li{
    padding-bottom: 17px;
    padding-top: 17px;
    padding-left: 70px;
    /*or simplify the padding as follows:
    padding: 20px 0 20px 70px;
    */
    
    /* another way to add image. many pictures appear. to avoid that, use no-repeat */
    background: url(Images/tick.png) no-repeat left center;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    transition: font-size 0.5s ease;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
}

.sidebar ul li a:hover, .sidebar ul li a:active{
    text-decoration: none;
    color: #B314DB;
    font-size: 23px;
    font-weight: bold;
}


#leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
}

.footer{
    height: 40px;
    font-size: 17px;
    background: linear-gradient(#F6F390, #D5D533);
    background: -webkit-linear-gradient(#F6F390, #D5D533);
    background: -o-linear-gradient(#F6F390, #D5D533);
    background: -moz-linear-gradient(#F6F390, #D5D533);
    padding: 10px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}










